

    <form id="addUserRoleForm" data-parsley-validate="" class="form-horizontal form-label-left " novalidate="">

        <input type="hidden" name="id" #if($innerManager)value="$innerManager.id"#end>
        <div class="form-group">
            <label class="control-label  col-xs-3" for="realName">商家名称 <span class="required">*</span>
            </label>
            <div class="col-xs-6">
                <input type="text" id="realName" disabled="disabled"  #if($innerManager.realName)value="$innerManager.realName"#end name="realName" >
            </div>
        </div>
        <div class="form-group">
            <label class="control-label  col-xs-3" for="userName">登录名 <span class="required">*</span>
            </label>
            <div class="col-xs-6">
                <input type="text" id="userName" disabled="disabled"  #if($innerManager.userName)value="$innerManager.userName"#end name="userName" >
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-3">角色 <span class="required">*</span>
            </label>
            <div class="col-xs-6">
               <select id="roleId"  required="required" name="roleId" class="form-control col-xs-7" data-parsley-id="0004">
                   <option value="" >请选择</option>
                   #if($roles)
                    #foreach($bean in $roles)
                    <option value="$bean.id" #if($bean.id == $roleId )selected="selected"#end >$bean.name</option>
                    #end
                   #end
               </select>
            </div>
        </div>

        <div class="ln_solid"></div>
        <div class="form-group">
            <div class=" col-xs-6 col-xs-offset-3">

                <button type="button" id="updateUserRole" data-url="ajax_update_manager_role" class="btn btn-success">提交</button>
                <button type="button" id="cancelModal" class="btn btn-primary">取消</button>
            </div>
        </div>

    </form>
