<form id="resetPasswordForm" data-parsley-validate="" class="form-horizontal form-label-left " novalidate="">

    <input type="hidden" name="id" #if($id)value="$id" #end>
    <div class="form-group">
        <label class="control-label  col-xs-3" for="password">新密码： <span class="required">*</span>
        </label>

        <div class="col-xs-6">
            <input type="password" id="password" required="required"
                   name="password" class="form-control col-md-7 col-xs-12" data-parsley-id="4639">
            <ul class="parsley-errors-list" id="parsley-id-2031"></ul>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label  col-xs-3" for="rePassword">重复输入： <span class="required">*</span>
        </label>

        <div class="col-xs-6">
            <input type="password" id="rePassword" required="required"
                   name="rePassword" class="form-control col-md-7 col-xs-12" data-parsley-id="4239">
            <ul class="parsley-errors-list" id="parsley-id-2032"></ul>
        </div>
    </div>

    <div class="ln_solid"></div>
    <div class="form-group">
        <div class=" col-xs-6 col-xs-offset-3">

            <button type="submit" id="resetPassword" data-url="ajax_resetPassword_backstageUser" class="btn btn-success">确定重置</button>
            <button type="button" id="cancelModal" class="btn btn-primary">取消</button>
        </div>
    </div>
</form>

