<div class="text-center col-md-12" style="width: 100px; margin-left: auto;margin-right: auto; ">

    <div class="col-md-12" style="color: #0044cc">新增商品</div>

    <div class="col-md-12">
         <form id="addRoleForm" data-parsley-validate="" class="form-horizontal form-label-left " novalidate="">
        <div class="form-group">
            <label class="control-label  col-md-3" for="ProductCategory"><span class="required text-center" style="color: #ff0000">* </span>商品类目:
            </label>
            <div class="col-md-9">
                <select id="ProductCategory"  required="required" name="ProductCategory" class="form-control col-xs-7" data-parsley-id="0004">

                    <option value="0">门票</option>

                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label  col-xs-3" for="ProductName"><span class="required text-center" style="color: #ff0000">* </span>商品名称:
            </label>
            <div class="col-xs-6">
                <input type="text" id="ProductName" required="required" name="ProductName"
                       class="form-control col-md-7 col-xs-12" data-parsley-id="4639"><ul class="parsley-errors-list" id="parsley-id-5640"></ul>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label  col-xs-3" for="ProductPrice"><span class="required text-center" style="color: #ff0000">* </span>价格:
            </label>
            <div class="col-xs-6">
                <input type="text" id="ProductPrice" required="required" name="ProductPrice"
                       class="form-control col-md-7 col-xs-12" data-parsley-id="4639"><ul class="parsley-errors-list" id="parsley-id-4640"></ul>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label  col-xs-3" for="PurchasePrice"><span class="required text-center" style="color: #ff0000">* </span>原价:
            </label>
            <div class="col-xs-6">
                <input type="text" id="PurchasePrice" required="required" name="PurchasePrice"
                       class="form-control col-md-7 col-xs-12" data-parsley-id="4639"><ul class="parsley-errors-list" id="parsley-id-9640"></ul>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label  col-xs-3" for="Number"><span class="required text-center" style="color: #ff0000">* </span>数量:
            </label>
            <div class="col-xs-6">
                <input type="text" id="Number" required="required" name="Number"
                       class="form-control col-md-7 col-xs-12" data-parsley-id="4639"><ul class="parsley-errors-list" id="parsley-id-9140"></ul>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label  col-xs-3" for="ShelvesDate"><span class="required text-center" style="color: #ff0000">* </span>上架日期:
            </label>
            <div class="col-xs-6">
                <input type="text" id="ShelvesDate" required="required" name="ShelvesDate"
                       class="form-control col-md-7 col-xs-12" data-parsley-id="4639"><ul class="parsley-errors-list" id="parsley-id-6140"></ul>
            </div>
        </div>

        <div class="form-group">
            <div class=" col-xs-6 col-xs-offset-3">
                <button type="submit" id=""  class="btn btn-info">确定新增</button>
            </div>
        </div>
    </form>
    </div>
</div>