
<form id="addEducationform" data-parsley-validate="" class="form-horizontal form-label-left " novalidate="">

    <input type="hidden" id ="empId "name="empId">
    <div class="form-group">
        <label class="control-label  col-xs-3" for="login-name">毕业学校 <span class="required">*</span>
        </label>
        <div class="col-xs-6">
            <input type="text" id="login-name" required="required" #if($e)value="$e.school"#end  name="school" class="form-control col-md-7 col-xs-12" data-parsley-id="4639"><ul class="parsley-errors-list" id="parsley-id-4639"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label  col-xs-3" for="real-name">学习形式<span class="required">*</span>
        </label>
        <div class="col-xs-6">
            <input type="text" id="real-name"  required="required" #if($e)value="$e.study"#end name="study"  class="form-control  col-xs-7" data-parsley-id="2038"><ul class="parsley-errors-list" id="parsley-id-2038"></ul>
        </div>
    </div>

    <div class="form-group">
        <label for="middle-name" class="control-label  col-xs-3">学习专业<span class="required">*</span></label>
        <div class="col-xs-6">
            <input id="middle-name" class="form-control  col-xs-7" type="text"  #if($e)value="$e.subject"#end  name="subject" data-parsley-id="1458"><ul class="parsley-errors-list" id="parsley-id-1458"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">文化程度 <span class="required">*</span>
        </label>
        <div class="col-xs-6">
            <input id="email" class=" form-control col-xs-7" required="required" type="text" #if($e)value="$e.level"#end name="level" data-parsley-id="0004"><ul class="parsley-errors-list" id="parsley-id-0004"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">学位 <span class="required">*</span>
        </label>
        <div class="col-xs-6">
            <input id="email1" class=" form-control col-xs-7" required="required" type="text" #if($e)value="$e.degree"#end name="degree" data-parsley-id="0004"><ul class="parsley-errors-list" id="parsley-id-0004"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">学位 <span class="required">*</span>
        </label>
        <div class="col-xs-6">
            #if($beansRole)
            <select id="roleName"  required="required" name="roleName" class="form-control col-xs-7" data-parsley-id="0004">
                #foreach($bean in $beansRole)
                <option value="$bean.id" #if($bean.name == $sysUser.roleName )selected="selected"#end >$bean.name</option>
                #end
            </select>
            #else
            <dd>暂无数据</dd>
            #end

        </div>
    </div>

    <div class="ln_solid"></div>
    <div class="form-group">
        <div class=" col-xs-6 col-xs-offset-3">
            <button type="button" id="cancelModal" class="btn btn-primary">取消</button>
            <button type="submit" id="addOrUpdateEducation" data-url="ajax_add_update_education" class="btn btn-success">提交</button>
        </div>
    </div>

</form>