</br>
<div class=" x_panel  ">
    <div class="x_title">
        <h2>系统管理/部门管理
            <small>- 部门管理</small>
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="content">
        <div class="alert alert-info alert-dismissible fade in" role="alert">
            <strong>描述!</strong> 部门管理.
        </div>
        <div class="row">
            <div class=" btn-group  col-xs-6">
                <a class="i_modal btn btn-default buttons-copy buttons-html5 btn-sm" data-title="添加部门"
                   data-url="_addDeptForm"><span><i class="green fa fa-plus" ></i>新增</span></a>
                <a class="btn btn-default buttons-copy buttons-html5 btn-sm" id="deleteMenu"  tabindex="0"
                   aria-controls="datatable-buttons"><span><i
                        class="red fa fa-remove"></i>删除</span></a>
            </div>
            <div class="form-inline col-xs-offset-2 col-xs-4">
                <form id="searchForm"  data-url="ajax_dept_query_list">
                    <!--<input type="hidden" name="p" value="1">-->
                    <!--<input type="hidden" name="ps" value="10">-->
                    <div class="form-group">
                        <label class="control-label" >名称
                        </label>  <input type="text" class="form-control " style="margin-bottom: 5px" name="roleName">
                        <input type="button" class="btn btn-default" id="DeptQueryBtn" value="查询">
                    </div>
                </form>
            </div>
        </div>
        <div id="table"></div>
        <div class="col-lg-10 dataTables_paginate  ">
            <ul class="pagination "></ul>
        </div>
    </div>
</div>
<script>
    require(["app/user/dept"]);
</script>