#set($layout="layout/activityLayout.vm")
<style>
    .content{background-size: 100%;background-image: url('images/lottery/bg2.png');background-repeat: no-repeat;}
    .content1{height: 10%;}
    .content2{background-image: url('images/lottery/nightPark.png');background-repeat: no-repeat;height: 50%;background-size: 100%;background-position: center;}
    .content2-text{text-align: center;font-size: 28px;color: #803C03;height: 115px;}
    .content2-bg{background-image: url('images/lottery/quan.png');background-repeat: no-repeat;height: 159px;padding: 10px 20px;}
    .content4{text-align: center;}
    .page-group.page-current, .page.page-current {
        overflow: auto;
    }
</style>

<div class="page page-current">

    <input type="hidden" name="typeId" value="$typeId">
    <div class="content native-scroll">
        <img src="images/lottery/bg2.png" style="width: 100%;">
        <div style="position: absolute;top: 0;height: 100%;width: 100%;">
            <div style="width: 90%;margin: 0 auto;height: 100%;">
                <div class="content1"></div>
               <img src="/images/lottery/nightPark.png" style="width: 100%;">
                <div class="content4">
                    <a class="js_ajax_received"><img src="images/lottery/lingquan.png" style="width: 55%;"></a>
                </div>
            </div>
        </div>

    </div>
</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script src="/js/pingpp/pingpp.js"></script>
<script src="/js/index.js?t=444"></script>
<script src="/js/spinner.js?t=3"></script>
<script>
   $(function(){
       $(".js_ajax_received").click(function(){
           var typeId=$("input[name=typeId]").val();
           $.ajax({
               url:"/ajax_received_ticket?t="+new Date().getMilliseconds(),
               type:'post',
               data:{typeId:typeId},
               success:function(data){
                   if(data.isSuccess){
                       window.location.href="received";
                   }else{
                       $.alert(data.msg);
                   }
                   var countRes=data.resultCount;
                   var couponId;
                   if(data.coupon){
                       couponId=data.coupon.id;
                   }
                   if(countRes==5)
                       window.location.href = "receiving";

               }
           });
       })
   });
</script>
</body>
</html>