

<div class="site-foot">
    <div class="main">

        #if($HelpCenter)
            <div class="site-foot-div">
                <p>帮助中心</p>
                <ul>
                    <li><a href="/helpCenter/JDRC114F" style="color:#000">常见问题</a></li>
                    <li><a href="/helpCenter/J0CNB501" style="color:#000">预定说明</a></li>
                    <li><a href="/helpCenter/QJH3QH7M" style="color:#000">支付说明</a></li>
                </ul>
            </div>
        #end

        <div class="site-foot-div">
            <p>服务承若</p>
            <ul>
                <li><a href="/helpCenter/IGMD204S" style="color:#000">入园保证</a></li>
                <li><a href="/helpCenter/80D2R72R" style="color:#000">入住保证</a></li>
                <li><a href="/helpCenter/2RB5S9MH" style="color:#000">正规发票</a></li>
                <li><a href="/helpCenter/DKN5CR05" style="color:#000">意见反馈</a></li>
            </ul>
        </div>

        <div class="site-foot-div">
            <p>网站条款</p>
            <ul>
                <li><a href="/helpCenter/PMHAUUVB" style="color:#000">隐私保护</a></li>
                <li><a href="/helpCenter/MA6TUOU7" style="color:#000">免责申明</a></li>
            </ul>
        </div>
        <div class="site-foot-div">
            <p>关于我们</p>
            <ul>
                <li><a href="/helpCenter/JUQURFO7" style="color:#000">淹城网站服务介绍</a></li>
                <li><a href="/helpCenter/PEPGFHJD" style="color:#000">网站服务协议</a></li>
            </ul>
        </div>
        <div class="fl">
            <img src="/images/yanchengWXCard.png" style="width: 120px;height:120px;"/>
        </div>
        <div class="fl index-contact">
            <p class="tel"><em class="iconfont">&#xe604;</em> 400-188-0005</p>
            <p class="index-contact-p">服务时间:24小时</p>
            <p class="index-contact-p"><em class="iconfont">&#xe60d;</em><em class="iconfont">&#xe607;</em><em class="iconfont">&#xe605;</em></p>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="main site-bottom">
    CopyRight 2010-2016 常州淹城旅行社有限公司版权所有 苏ICP备10010490号<br/>
    地址：江苏省常州市武进区武宜南路588号 客服电话：400-188-0005
</div>