<div class="fixed-right">
    <div class="middle-div Js_right_div">

        <div class="Js_right_div1">
            <em class="iconfont">&#xe607;</em>
            <p class="dis-none">
                <img src="/images/yanchengWXCard.png"/>
            </p>
        </div>

 <!--       <div class="Js_right_div2">
            <div>
                <em class="iconfont">&#xe605;</em>
            </div>
            <p class="dis-none" style="width: 200px;background:#269772;height: 56px;right:3px;z-index: 1;">
                <em class="iconShow">&#xe631;</em> <span style="font-weight: bolder;font-size: larger;float: left;margin-left: 12px;font-size: 20px;line-height: 60px;color: white;">1783709028</span>
            </p>
        </div>-->

        <div class="Js_right_div2">
            <div>
                <em class="iconfont">&#xe604;</em>
            </div>
            <p class="dis-none" style="width: 200px;background:#269772;height: 56px;right:3px;z-index: 1;">
                <em class="iconShow">&#xe604;</em> <span style="font-weight: bolder;font-size: larger;float: left;margin-left: 12px;font-size: 20px;line-height: 60px;color: white;">1783709028</span>
            </p>
        </div>

      <!--  <div class="Js_right_div2">
            &lt;!&ndash;<em class="iconfont">&#xe606;</em>
            <p class="dis-none">
              &lt;!&ndash;  <span style="font-weight: bolder;font-size: larger">15261115811</span>&ndash;&gt;
            </p>&ndash;&gt;

            <div>
                <em class="iconfont">&#xe606;</em>
            </div>
            <p class="dis-none" style="width: 200px;background:#269772;height: 56px;right:3px;z-index: 1;">
                <em class="iconShow">&#xe606;</em> <span style="font-weight: bolder;font-size: larger;float: left;margin-left:12px;font-size: 20px;line-height: 60px;color: white;">4001880005</span>
            </p>

        </div>-->

        <div class="Js_toTop  Js_right_div2">
            <div>
                <em class="iconfont">&#xe608;</em>
            </div>
            <p class="dis-none" style="width: 200px;background:#269772;height: 56px;right:3px;z-index: 1;">
                <em class="iconShow">&#xe608;</em> <span style="font-weight: bolder;font-size: larger;float: left;margin-left: 12px;font-size:15px;line-height: 60px;color: white;">返回到顶部</span>
            </p>
        </div>

    </div>
</div>