<div class="h60"></div>
<div class="index-support-main">

    <div class="index-support-div">
        <em class="iconfont">&#xe636;</em>
        <p class="p-title">价格保证</p>
        <p class="p-content">质量保证，价格优惠</p>
    </div>

    <div class="index-support-div">
        <em class="iconfont">&#xe60a;</em>
        <p class="p-title">退订保障</p>
        <p class="p-content">若遇特殊情况，保证退订</p>
    </div>

    <div class="index-support-div">
       <em class="iconfont" style="font-size: 25px;color: #d02423;position: absolute;
        left: 48px;top: 4px;border: 2px solid;width: 42px;height: 41px;text-align: center;line-height: 36px;border-radius: 21px;">&#xe634;</em>
        <p class="p-title">救援保障</p>
        <p class="p-content">旅途中发生意外，保证援助</p>
    </div>

    <div class="index-support-div no-border">
        <em class="iconfont" style="font-size: 25px;color: #d02423;position: absolute;
        left: 48px;top: 4px;border: 2px solid;width: 42px;height: 41px;text-align: center;line-height: 40px;border-radius: 21px;">&#xe60c;</em>
        <p class="p-title">24小时服务</p>
        <p class="p-content">热忱服务，全年无休</p>
    </div>

    <div class="clear"></div>
</div>