.content{padding-left: 256px;padding-top: 50px;padding-right: 245px;}
.new-password{height: 50px;line-height: 50px;display: inline-block;font-size: 16px;}
.new-password input{width: 226px;height: 26px;font-size: 16px;padding-left: 5px;}
.passwordSecurity{padding-left: 63px;}
.passwordSecurity .pwd-low{width: 47px;margin: 1px 0px;height: 6px;display: inline-block;}
.passwordSecurity .pwd-centre{width: 47px;margin: 1px 0px;height: 6px;display: inline-block;}
.passwordSecurity .pwd-high{width: 47px;margin: 1px 0px;height: 6px;display: inline-block;}

.confirm-password input{width: 226px;height: 26px;font-size: 16px;padding-left: 5px;}
.order-select{padding-left: 56px;padding-top: 40px;}
.order-select input{width:116px;height: 35px;}
.order-select .prev{background-color: #EE7321;border:none}
.order-select .finish{background-color: #1771B6;border: none;font-size: 16px;color: white; }