*{margin:0;padding:0;}

/*.box-shadow{width:100%;height:100%;background:#4A4A4A;position:fixed;z-index:100;}*/
.box-shadow{width: 100%;height: 100%;background:rgba(0,0,0,0.5);position: fixed;z-index: 100;display: none;  }

.cross{width:38px;height:37px;background:url(../../images/icon/hint3.png) no-repeat;-webkit-background-size:38px 37px;background-size:38px 37px; position:absolute;top:7px;right:7px;}
.cross:hover{width:38px;height:37px;background:url(../../images/icon/hint33.png) no-repeat;-webkit-background-size:38px 37px;background-size:38px 37px; position:absolute;top:7px;right:7px;}

.real-name-hint{width:684px;height:448px;margin:0 auto;background:#fff;position:fixed;top:50%;left:45%;margin-left:-250px;margin-top:-166px;z-index:111;display:none;}
.top-background{width:684px;height:58px;background:#247FCD;position:relative;}
.real-name-top{line-height:58px;color:#FFFFFF;font-size:12px;padding-left:20px;}
.real-name-top span{font-size: 20px;}
.validate-name{line-height:90px;font-size:16px; text-align:center;color:#959595;padding-left: 45px;}
.validate-name input{display: inline-block;width:246px;height: 30px;padding-left: 8px;}
.validate-ID{line-height:18px;font-size:16px; text-align:center;color:#959595;}
.validate-ID input{display: inline-block;width:246px;height: 30px;padding-left: 8px;}
.hint-immediately-verify{display: inline-block;width: 102px;height: 38px;line-height: 38px;margin-left: 262px;background-color: #EB544A;text-align: center;margin-top: 50px;color: white;font-size: 16px;margin-right: 10px;}
.hint-canel{display: inline-block;width: 102px;height: 38px;line-height: 38px;background-color:#B0B0B0;text-align: center;margin-top: 50px;color: white;font-size: 16px;}
