<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="attributes" class="attributes" style="border:1px solid #D7D7D7;color:#404040;font-family:tahoma, arial, 'Hiragino Sans GB', 宋体, sans-serif;background-color:#F6F6F6;">
    <ul class="attributes-list">
        <li style="text-indent:5px;">
            产品名称：淹城春秋乐园 大门票 江苏...
        </li>
        <li style="text-indent:5px;">
            是否套餐: 否
        </li>
        <li style="text-indent:5px;">
            景点名称: 淹城春秋乐园
        </li>
        <li style="text-indent:5px;">
            收费项目: 大门票
        </li>
        <li style="text-indent:5px;">
            景点所在地: 江苏省
        </li>
        <li style="text-indent:5px;">
            江苏省: 常州市
        </li>
        <li style="text-indent:5px;">
            景区评级: AAAA
        </li>
        <li style="text-indent:5px;">
            景区主题分类: 主题乐园
        </li>
        <li style="text-indent:5px;">
            门票种类: 儿童票 老人票 大学生票 成人票
        </li>
        <li style="text-indent:5px;">
            门票类型: 电子票
        </li>
    </ul>
    <div class="ticket-refund-info" style="padding:0px 20px 5px;color:#666666;">
        <span><strong>不支持</strong>过期自动退款</span> <span><strong>不支持</strong>售中未使用退款</span>
    </div>
    <div id="trip-item-attribute" class="trip-item-attribute" style="margin:10px;">
        <table class="trip-table" id="J_TripAttTable_34567969625" style="width:767px;">
            <tbody>
            <tr>
                <th class="trip-baseinfo-spu" rowspan="3" style="border:1px solid #EFEFEF;vertical-align:middle;text-align:center;font-weight:400;background:#FFFFFF;">
                    成人票+电子票
                </th>
                <td class="trip-baseinfo-meta" style="border:1px solid #EFEFEF;vertical-align:middle;text-align:center;background:#FFFFFF;">
                    退票规则
                </td>
                <td style="border:1px solid #EFEFEF;vertical-align:middle;background:#FFFFFF;">
                    整笔订单可退。若一笔订单中含有多张门票，不可退其中一张或其中部分几张。
                </td>
            </tr>
            <tr>
                <td class="trip-baseinfo-meta" style="border:1px solid #EFEFEF;vertical-align:middle;text-align:center;background:#FFFFFF;">
                    改期规则
                </td>
                <td style="border:1px solid #EFEFEF;vertical-align:middle;background:#FFFFFF;">
                    无条件改期
                </td>
            </tr>
            <tr>
                <td class="trip-baseinfo-meta" style="border:1px solid #EFEFEF;vertical-align:middle;text-align:center;background:#FFFFFF;">
                    预订须知
                </td>
                <td style="border:1px solid #EFEFEF;vertical-align:middle;background:#FFFFFF;">
                    【费用包含】:大门票<br />
                    【预定时间】:请至少在入园当天的，8点前购买<br />
                    【入园方式】:扫身份证入园
                </td>
            </tr>
            </tbody>
        </table>
        <p class="expand-attribute" style="text-align:right;">
            <a class="trip-expand-attribute expand">更多</a>
        </p>
    </div>
</div>
<div id="J_JiyoujiaPromises" class="tb-official-remind" style="color:#404040;font-family:tahoma, arial, 'Hiragino Sans GB', 宋体, sans-serif;background-color:#FFFFFF;">
</div>
<div id="trip-service-banner" style="color:#404040;font-family:tahoma, arial, 'Hiragino Sans GB', 宋体, sans-serif;background-color:#FFFFFF;">
    <div class="t-insure t-mp-insure J_Hudge_Tms" style="border:1px solid #E6EBF2;color:#496781;font-family:'微软雅黑,宋体';background-color:#F7F9FB;">
        <div class="t-insure-hd" style="padding:0px 20px;">
            <div class="t-insure-tit-line">
            </div>
            <div class="t-insure-tit-logo" style="margin:0px auto;background:url(;">
            </div>
        </div>
        <div class="t-insure-bd">
            <ul>
                <li class="t-insure-item" style="background:url(;">
                    <h2 style="font-size:16px;color:#4E5663;font-family:'Microsoft Yahei';">
                        出票保障
                    </h2>
                    <p>
                        支付成功后，卖家未以订单价出票，<span style="color:#4E5663;font-weight:700;">卖家赔付订单交易金额的30%，500元封顶（每笔订单）</span>。
                    </p>
                </li>
                <li class="t-insure-item" style="background:url(;">
                    <h2 style="font-size:16px;color:#4E5663;font-family:'Microsoft Yahei';">
                        入园保障
                    </h2>
                    <p>
                        支付成功后，因卖家原因导致买家无法以订单价正常入园，买家可在实景区购买市场价票入园，<span style="color:#4E5663;font-weight:700;">差价卖家承担，并赔付订单交易金额的30%，500元封顶（每笔订单）。</span>
                    </p>
                    <span style="color:#4E5663;font-weight:700;"></span>
                </li>
                <li class="t-insure-item" style="background:url(;">
                    <h2 style="font-size:16px;color:#4E5663;font-family:'Microsoft Yahei';">
                        如实描述保障
                    </h2>
                    <p>
                        因卖家描述与实际情况不相符导致买家损失，<span style="color:#4E5663;font-weight:700;">卖家承担损失</span>。
                    </p>
                </li>
            </ul>
        </div>
        <div class="t-insure-ft clearfix tb-clearfix" style="padding:10px 0px;">
            <div class="insure-ft-tit" style="text-align:right;">
                注：
            </div>
            <div class="insure-ft-con">
                如卖家违反以上内容，可在 我的淘宝-已买到的宝贝 中找到相应订单提交投诉或联系阿里旅行客服 400-1688-688 反馈。
            </div>
            <div class="insure-ft-tab J_InsureServiceTab" style="text-align:center;">
                服务详情<span class="pi-iconfont pi-iconfont-arr" style="font-family:arrow;"> 㖡</span>
            </div>
        </div>
    </div>
</div>

</body>
</html>