<div class="page-group">
    <div class="page page-current" id="index">
        <header class="bar bar-nav">
            <h1 class="title">淹城春秋乐园-组合商品</h1>
            <a class=" icon icon-left pull-left back"  style="color: #ffffff"></a>
            #if($userInfo)
                <a class="icon icon-me pull-right  open-panel" style="color: #ffffff"></a>
            #else
                <a href="/login" class="icon icon-me pull-right external " style="color: #ffffff"></a>
            #end
        </header>
        #parse("/layout/siteNav.vm")
        <div class="content pull-to-refresh-content">
            <div class="pull-to-refresh-layer">
                <div class="preloader"></div>
                <div class="pull-to-refresh-arrow"></div>
            </div>
            <div>
                <div class="card">
                    <div>
                        <div class="list-block media-list ">
                            <ul>
                                #foreach($item in $groupgoods)
                                <li class="item-content row bottomline" >
                                    <a class="item-content col-100 external" style="padding: 0 0.3rem;" href="/ticket/${item.id}.html">
                                        <div class="item-media">
                                            <img src="$imghost/s/$item.mainPicturePath"
                                                 width="140">
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="card-name">$item.name</div>
                                            </div>
    ##                                        <div class="item-content-main">
    ##                                            <span>5A景区</span>
    ##                                            <span class="m12">97.3好评</span>
    ##                                        </div>
                                            <div>
                                                <span class="ui-rmb-discount">¥$item.discountPrice</span>
                                                <span class="ui-rmb-original ">¥$item.price</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                #end
                            </ul>
                        </div>
                    </div>
                </div>

##                <div class="card">
##                    <div>
##                        <div class="list-block media-list ">
##                            <ul>
##                                <li class="item-content">
##                                    <div class="item-media">
##                                        <img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg"
##                                             width="100">
##                                    </div>
##                                    <div class="item-inner">
##                                        <div class="item-title-row">
##                                            <div>常州淹城门票</div>
##                                        </div>
##                                        <div class="item-content-main">
##                                            <span>5A景区</span>
##                                            <span class="m12">97.3好评</span>
##                                        </div>
##                                        <div>
##                                            <span class="ui-rmb-discount">¥170</span>
##                                            <span class="ui-rmb-original ml1">¥170</span>
##                                        </div>
##                                    </div>
##                                </li>
##                            </ul>
##                        </div>
##                    </div>
##
##                </div>
            </div>
        </div>
    </div>
</div>

<!--  关于我们 -->
#parse("about.vm")
</div>

#set($block_script='

')