






<div style="text-align: right">
    <div class="">
        <div class="" style="text-align: center"><h1>修改密码</h1></div>
    </div>
    <div class="form-group col-xs-12">
        <label class="control-label col-xs-5" style="position: relative;top: -0.5em"><h3><strong>原密码：</strong></h3></label>
        <div class="col-xs-7">
            <input type="password"  class="form-control " style="width: 30%"  name="oldPassword" placeholder="请输入原密码" id="oldPassword"/>
        </div>
    </div>
    <br>
    <div class="form-group col-xs-12">
        <label class="control-label col-xs-5" style="position: relative;top: -0.5em"><h3><strong>新密码：</strong></h3></label>
        <div class="col-xs-7">
            <input type="password"  class="form-control " style="width: 30%" name="newPassword" placeholder="请输入新密码" id="newPassword"/>
        </div>
    </div>
    <div class="form-group col-xs-12">
        <label class="control-label col-xs-5" style="position: relative;top: -0.5em"><h3><strong>确认密码：</strong></h3></label>
        <div class="col-xs-7">
            <input type="password"  class="form-control col-xs-3" style="width: 30%" name="checkPassword" placeholder="请输入确认密码" id="checkPassword"/>
        </div>
    </div>
</div>

<div class="text-center mt20">
    <button class="btn btn-primary changePassword" type="button">确 定</button>
    <button class="btn btn-default " type="button"><a href="javascript:window.history.go(-1);"> 返回</a></button>
</div>

<script>
    require(['app/user/user'])
</script>

<script>

    //修改密码
    $("body").on("click",".changePassword", function () {
        var oldPassword = $("#oldPassword").val();
        var newPassword = $("#newPassword").val();
        var checkPassword = $("#checkPassword").val();

        if(newPassword != checkPassword)
            return alert("新密码与确认密码不一致！");
        if(oldPassword == "")
            return alert("请输入原密码！");
        if(newPassword == "")
            return alert("请输入新密码！");
        if(checkPassword == "")
            return alert("请输入确认密码！");
        $.ajax({
            url:"ajax_changePassword",
            type:"post",
            data:{oldPassword:oldPassword,newPassword:newPassword},
            success: function (data) {
                if(data.isSuccess){
                    alert("操作成功！");
                    window.location.href="sra_index";
                }else{
                    alert(data.msg);
                }
            }
        })
    })
</script>