<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>微信登录</title>

    <link href="css/common.css" type="text/css" rel="stylesheet" />
    <link href="css/index.css" type="text/css" rel="stylesheet"  />
    <link href="css/logon/logon.css" type="text/css" rel="stylesheet"  />

    <script type="text/javascript" src="js/common/jquery.js"></script>
    <script type="text/javascript" src="js/common/common.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/common/unslider.min.js"></script>
    <script data-main="js/rjs-config.js" src="js/require.js"></script>
    <script  src="js/jslib/jquery.min.js"></script>

    <link href="css/icheck/skins/minimal/minimal.css" type="text/css" rel="stylesheet" />

    <link href="css/tooltip/tooltip.css" type="text/css" rel="stylesheet"/>

</head>

<body>

<!--
<div>
    <div class="tooltips" style="background-color: #006dcc">
        <div class="arrow arrow-border" style="background-color: #006dcc"></div>
        <div class="arrow arrow-bg" style="background-color: #006dcc"></div>
    </div>
</div>
-->


<div class="main logon-top">
    <div class="top-nav">
        您好，欢迎来到淹城春秋乐园官网
        <p>淹城网站首页</p>
        <p>微信关注</p>
        <div class="top-right">
            <p><a href="logonInex">[登录]</a></p>
            <p><a href="reg">[注册]</a></p>
                <div class="Js_top_select inline-block top-select down">
                    <a href="/edit_user">个人中心<em class="iconfont down">&#xe600</em><em class="iconfont up">&#xe601;</em>  </a>
                    <div class="dis-none">
                        <a href="/orderlist"><p>订单列表</p></a>
                        <a href="/edit_user"><p>基本信息</p></a>
                        <a href="/ticketHolderInfo"><p>取票人信息</p></a>
                    </div>
                </div>
            <p><a href="/helpCenter/JDRC114F">帮助</a></p>
        </div>
    </div>
    <div class="index-search">
        <div class="logo">
            <a href="/index.html"><img src="images/common/logo.png" /></a>
        </div>
        <div class="title">
            <p><span>登录</span></p>
        </div>
        <div class="contact">
            <div class="info">
                <em class="iconfont"></em>
                <p class="des">24H服务热线：</p>
                <p class="tel">400-188-0005</p>
            </div>
        </div>

    </div>
</div>

<div class="h20"></div>
<div class="logonMain" >

    <div class="content">
        <div class="content-logon">
            <p>登录</p>
            <div class="h20"></div>
            <div class="logonName">
                <input type="text" value=""  placeholder="用户名/手机号/邮箱号">
            </div>

            <div class="h20"></div>
            <div class="logonPassWord">
                <input type="text" value=""  placeholder="请输入密码">
            </div>

            <div class="h20"></div>

            <div class="verification-code">
                <div class="space">
                     <input type="text" value="" placeholder="验证码">
                </div>
                <span>HV8S</span>
                <a href="#">换一张</a>
            </div>

            <div class="h20"></div>
            <div class="selectItems">
                <label class="logonAuto" for="logonAuto"><input id="logonAuto" type="checkbox" value="">自动登录</label>
                <a href="#">忘记密码？</a>
            </div>
            <div class="logon-btn">
                <a href="#">登录</a>
            </div>
            <div class="h20"></div>
            <div class="free-reg">
                <a href="#">免费注册</a>
            </div>

        </div>
        <div style="height: 52px;"></div>
        <div class="qr-code-select">
            <div class="tooltips">
                 <span>微信扫描直接登录</span>
                <div class="arrow arrow-border"></div>
                <div class="arrow arrow-bg"></div>
            </div>
            <div class="qr-code">
                <label for="logon-QR-code" class="logon-QR-code-label">
                    <div id="logon-QR-code" class="logon-QR-code"></div>
                </label>
            </div>

        </div>

    </div>
</div>

<div class="main site-bottom">
    CopyRight 2010-2016 常州淹城旅行社有限公司版权所有 苏ICP备0123456789号<br/>
    地址：江苏省常州市武进区武宜南路588号 客服电话：400-188-0005
</div>
<div>
    <div class="_12312312">dsfsdf</div>
</div>


<div class="fixed-right">
    <div class="middle-div Js_right_div">
        <div>

            <em class="iconfont">&#xe607</em>
            <p class="dis-none">
                <img src="images/test/ewm.png"/>
            </p>
        </div>
        <div>
            <em class="iconfont">&#xe607</em>
            <p class="dis-none">
                <img src="images/test/ewm.png"/>
            </p>
        </div>
        <div>
            <em class="iconfont">&#xe605</em>
        </div>
        <div>
            <em class="iconfont">&#xe606</em>
        </div>
        <div class="Js_toTop dis-none">
            <em class="iconfont">&#xe608</em>
        </div>
    </div>
</div>

<script>
    require(["common/common"]);
</script>
</body>
</html>
