<style>
    .top-title{height: 40px;margin-left: 10px;display: inline-block;width: 600px;}
    .title{width: 100px;float: left;text-align: center;font-size: 14px;color: #666666;display: inline-block;margin-top: -2px;}
    .index-search .contact .info em{position: absolute; left: -17px;font-size: 24px;top: 25px;color: #b5b6b6;}
</style>
<div class="main">
    <div class="top-nav">
        您好，欢迎来到淹城春秋乐园官网
        <p>淹城网站首页</p>
        <p>微信关注</p>
        <div class="top-right">
            <p><a href="/login">[登录]</a></p>
            <p><a href="/reg">[注册]</a></p>
            <div class="inline-block top-select">
                <a href="/orderlist/all">个人中心</a>
            </div>
            <p>帮助</p>
        </div>
    </div>

    <div class="index-search">
        <div class="logo">
            <a href="/"><img src="/images/common/logo.png"></a>
        </div>
        <div class="top-title">
            <div class="left-line"></div>
            <div class="title">
                <span style="font-size: 20px;">找回密码</span>
            </div>

        </div>
        <div class="contact">
            <div class="info">
                <em class="iconfont"></em>
                <p class="des">24H服务热线：</p>
                <p class="tel">400-188-0005</p>
            </div>
        </div>
    </div>


</div>


