<form id="editWordEditInfoForm" data-parsley-validate="" class="form-horizontal form-label-left " novalidate="">

    <input type="hidden" name="id" #if($beans)value="$beans.id" #end>

    <!--<div class="form-group">
        <label class="control-label  col-xs-3" for="companyId">所属公司 <span class="required">*</span>
        </label>

        <div class="col-xs-6">

            #if($company)
            <select id="companyId" required="required" name="companyId" class="form-control col-xs-7"
                    data-parsley-id="0004">
                <option value=""  >请选择</option>
                #foreach($cop in $company)
                <option value="$cop.id" #if($cop.companyId=="$beans.id") selected #end>$cop.name</option>
                #end
            </select>
            #else
            <dd>暂无数据</dd>
            #end
            &lt;!&ndash;<input type="text" id="companyName" name="companyName" #if($beans.companyName) value="$beans.companyName" #end>&ndash;&gt;

        </div>
    </div>-->




    <div class="form-group">
        <label class="control-label  col-xs-3" >文章标题<span class="required">*</span>
        </label>

        <div class="col-xs-6">
            <input type="text" id="title" required="required" name="title" #if($beans)value="$beans.title" #end
                   class="form-control col-md-7 col-xs-12" data-parsley-id="4639">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label  col-xs-3" >文章类别<span class="required">*</span>
        </label>

        <div class="col-xs-6">
            <!--<input type="text" id="controlName" required="required" name="controlName" #if($beans)value="$beans.controlName" #end
                   class="form-control col-md-7 col-xs-12" data-parsley-id="4639">-->

            <select id="articleType" required="required" name="articleType" class="form-control col-xs-7"
                    data-parsley-id="0004">
                <option value=""  >请选择</option>

                <option value="1" #if($beans.type=="HelpCenter") selected #end>帮助中心</option>
                <option value="2" #if($beans.type=="ServicePromise") selected #end>服务承诺</option>
                <option value="3" #if($beans.type=="SiteTerm") selected #end>网络条款</option>
                <option value="4" #if($beans.type=="friendlyLink") selected #end>友情链接</option>

            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label  col-xs-3" >发布人<span class="required">*</span>
        </label>

        <div class="col-xs-6">
            <!--<input type="text" id="controlName" required="required" name="controlName" #if($beans)value="$beans.controlName" #end
                   class="form-control col-md-7 col-xs-12" data-parsley-id="4639">-->
            <input type="text" id="author" required="required" name="author" #if($beans)value="$beans.author" #end
                   class="form-control col-md-7 col-xs-12" data-parsley-id="4639">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label  col-xs-3" for="content">文章内容<span class="required">*</span>
        </label>

        <div class="col-xs-6">
            <textarea type="text" id="content" required="required" name="content" rows="20" cols="10"
                   class="form-control col-md-7 col-xs-12 " data-parsley-id="4639">$beans.content</textarea>
            <ul class="parsley-errors-list" id="parsley-id-2038"></ul>
        </div>
    </div>







    <div class="ln_solid"></div>
    <div class="form-group">
        <div class=" col-xs-6 col-xs-offset-3">

            <button type="submit" id="editWordEdit" data-url="ajax_edit_wordEditForm" class="btn btn-success">保存</button>
            <!--<button type="button" id="cancelModal" class="btn btn-primary">取消</button>-->
            <a class="btn btn-primary" href="javascript:history.go(-1);">返回</a>
        </div>
    </div>
</form>

<script>
    require(["app/wordEdit/wordEdit"]);
</script>

