<div class="h20"></div>
<div class="fkp">

    <div class="find-password-lc">
        <p><span>1</span> 确认账号</p>
        <p><span>2</span> 安全认证</p>
        <p><span style="background-color: #CD3333;">3</span> 重置密码</p>
        <p><span>4</span> 完成</p>
    </div>

    <div class="content">

        <label class="new-password">
            新密码：<input type="text" id="js_check_pwd_strong" class="js_check_pwd_strong" value=""/>
        </label>

        <div class="passwordSecurity" style="display: none">
            <span>密码安全度</span>
            <p class="pwd-low"></p>
            <p class="pwd-centre"></p>
            <p class="pwd-high"></p>
            <span class="show-level"></span>
        </div>

        <div class="h30"></div>

        <label class="confirm-password">
            确认密码：<input type="text" value="">
        </label>

        <div class="order-select">
          <!--  <input class="prev" type="button" value="上一步">-->
            <input type="hidden" value="$!UserName" class="js_userName" name="UserName">
            <input class="finish js_finish_update_password" type="button" value="完成">
        </div>
    </div>
</div>
<div class="h60"></div>
<div class="bottom_underline"></div>

