<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/common.css" type="text/css" rel="stylesheet" />
<link href="css/index.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="js/common/jquery.js"></script>
<script type="text/javascript" src="js/common/common.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/common/unslider.min.js"></script>
</head>

<body>
<div class="main">
	<div class="top-nav">
    	您好，欢迎来到淹城春秋乐园官网
        <p>淹城网站首页</p>
        <p>微信关注</p>
        <div class="top-right">
            <p><a href="#">[登录]</a></p>
            <p>[注册]</p>
            <div class="Js_top_select inline-block top-select down">
                个人中心<em class="iconfont down">&#xe600;</em><em class="iconfont up">&#xe601;</em>
                <div class="dis-none">
                    <p>我的XX</p>
                    <p>我的XX</p>
                    <p>我的XX</p>
                </div>
            </div>
            <p>帮助</p>
        </div>
    </div>
    <div class="index-search">
        <div class="logo">
            <img src="images/common/logo.png" />
        </div>
        <div class="search-div">
            <div class="search-select">
                <div class="Js_search_select search-select-p down"><span>门票</span><em class="iconfont down">&#xe603;</em><em class="iconfont up">&#xe602;</em>
                <ul class="Js_search_down dis-none">
                    <li>电影</li>
                    <li>游戏</li>
                    <li>阅读</li>
                    <li>KTV</li>
                    <li>旅游</li>
                    <li>运动</li>
                    <li>宅</li>
                    <li>娱乐</li>
                    <li>新闻</li>
                    <li>广告</li>
                </ul>
                </div>

            </div>
            <input type="text" class="search-input"/>
            <input type="button" value="搜索" class="search-Btn"/>
        </div>
        <div class="contact">
            <div class="info">
                <em class="iconfont">&#xe604;</em>
                <p class="des">24H服务热线：</p>
                <p class="tel">400-188-0005</p>
            </div>

        </div>
        <div class="more-search">
            <a href="#">淹城门票</a>
            <a href="#">火烈鸟主题餐厅</a>
        </div>
    </div>
</div>


<div class="nav ">
    <div class="main">
    <ul>
        <li><a href="#">首页</a></li>
        <li><a href="#">推荐门票</a></li>
        <li><a href="#">周边游</a></li>
        <li><a href="#">特色活动</a></li>
        <li><a href="#">游记攻略</a></li>
    </ul>
    </div>
</div>
<div class="banner">
    <ul>
        <li style='background-image: url("images/test/bg.png");height:480px'> </li>
        <li style='background-image: url("images/test/bg.png");height:480px'> </li>
        <li style='background-image: url("images/test/bg.png");height:480px'> </li>
    </ul>
</div>
<div class="h60"></div>
<div class="main">
    <div>
    <p class="index-title">推荐门票</p>
    <div class="h20"></div>
    <div>
        <div class="fl">
            <img src="images/test/big-img.png" />
        </div>
        <div class="fl index-img-main">
            <div class="index-img-div">
                <p class="discount">6.8折</p>
                <p><img src="images/test/small-img.png" /></p>
                <p class="index-img-title"><a href="#">春秋乐园成人票 <span><em>￥1700.00</em> 元</span></a></p>
            </div>
            <div class="index-img-div">
                <p class="discount">6.8折</p>
                <p><img src="images/test/small-img.png" /></p>
                <p class="index-img-title"><a href="#">春秋乐园成人票 <span><em>￥1700.00</em> 元</span></a></p>
            </div>
            <div class="index-img-div">
                <p class="discount">6.8折</p>
                <p><img src="images/test/small-img.png" /></p>
                <p class="index-img-title"><a href="#">春秋乐园成人票 <span><em>￥1700.00</em> 元</span></a></p>
            </div>
            <div class="index-img-div">
                <p class="discount">6.8折</p>
                <p><img src="images/test/small-img.png" /></p>
                <p class="index-img-title"><a href="#">春秋乐园成人票 <span><em>￥1700.00</em> 元</span></a></p>
            </div>
            <div class="index-img-div">
                <p class="discount">6.8折</p>
                <p><img src="images/test/small-img.png" /></p>
                <p class="index-img-title"><a href="#">春秋乐园成人票 <span><em>￥1700.00</em> 元</span></a></p>
            </div>
            <div class="index-img-div">
                <p class="discount">6.8折</p>
                <p><img src="images/test/small-img.png" /></p>
                <p class="index-img-title"><a href="#">春秋乐园成人票 <span><em>￥1700.00</em> 元</span></a></p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    </div>
    <div class="h20"></div>
    <div>
        <p class="index-title">推荐门票</p>
        <div class="h20"></div>
        <div>
            <div class="fl">
                <img src="images/test/big-img.png" />
            </div>
            <div class="fl index-img-main">
                #foreach($product in $products)
                <div class="index-img-div">
                    <p class="discount">6.8折</p>
                    <p><img src="images/test/small-img.png" /></p>
                    <p class="index-img-title"><a href="#">$product.name <span><em>￥1700.00</em> 元</span></a></p>
                </div>
                #end
                <!--<div class="index-img-div">-->
                    <!--<p class="discount">6.8折</p>-->
                    <!--<p><img src="images/test/small-img.png" /></p>-->
                    <!--<p class="index-img-title"><a href="#">春秋乐园成人票 <span><em>￥1700.00</em> 元</span></a></p>-->
                <!--</div>-->
                <!--<div class="index-img-div">-->
                    <!--<p class="discount">6.8折</p>-->
                    <!--<p><img src="images/test/small-img.png" /></p>-->
                    <!--<p class="index-img-title"><a href="#">春秋乐园成人票 <span><em>￥1700.00</em> 元</span></a></p>-->
                <!--</div>-->
                <!--<div class="index-img-div">-->
                    <!--<p class="discount">6.8折</p>-->
                    <!--<p><img src="images/test/small-img.png" /></p>-->
                    <!--<p class="index-img-title"><a href="#">春秋乐园成人票 <span><em>￥1700.00</em> 元</span></a></p>-->
                <!--</div>-->
                <!--<div class="index-img-div">-->
                    <!--<p class="discount">6.8折</p>-->
                    <!--<p><img src="images/test/small-img.png" /></p>-->
                    <!--<p class="index-img-title"><a href="#">春秋乐园成人票 <span><em>￥1700.00</em> 元</span></a></p>-->
                <!--</div>-->
                <!--<div class="index-img-div">-->
                    <!--<p class="discount">6.8折</p>-->
                    <!--<p><img src="images/test/small-img.png" /></p>-->
                    <!--<p class="index-img-title"><a href="#">春秋乐园成人票 <span><em>￥1700.00</em> 元</span></a></p>-->
                <!--</div>-->
                <!--<div class="index-img-div">-->
                    <!--<p class="discount">6.8折</p>-->
                    <!--<p><img src="images/test/small-img.png" /></p>-->
                    <!--<p class="index-img-title"><a href="#">春秋乐园成人票 <span><em>￥1700.00</em> 元</span></a></p>-->
                <!--</div>-->
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="h20"></div>

    <div>
        <img src="images/test/banner2.png"/>
    </div>
    <div class="h60"></div>
    <div>
        <p class="index-title">组合门票</p>
        <div class="comb-ticket-main">
            <div class="comb-ticket-div">
                <p><img src="images/test/small-img-2.png"/></p>
                <p class="index-img-title"><a href="#">春秋乐园成人票 <span><em>￥1700.00</em> 元</span></a></p>
            </div>
            <div class="comb-ticket-div">
                <p><img src="images/test/small-img-2.png"/></p>
                <p class="index-img-title"><a href="#">春秋乐园成人票 <span><em>￥1700.00</em> 元</span></a></p>
            </div>
            <div class="comb-ticket-div">
                <p><img src="images/test/small-img-2.png"/></p>
                <p class="index-img-title"><a href="#">春秋乐园成人票 <span><em>￥1700.00</em> 元</span></a></p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="h60"></div>
    <div class="index-support-main">
        <div class="index-support-div">
            <em class="iconfont">&#xe60b;</em>
            <p class="p-title">价格保证</p>
            <p class="p-content">质量保证，价格优惠</p>
        </div>
        <div class="index-support-div">
            <em class="iconfont">&#xe60a;</em>
            <p class="p-title">退订保障</p>
            <p class="p-content">若遇特殊情况，保证退订</p>
        </div>
        <div class="index-support-div">
            <em class="iconfont">&#xe609;</em>
            <p class="p-title">救援保障</p>
            <p class="p-content">旅途中发生意外，保证援助</p>
        </div>
        <div class="index-support-div no-border">
            <em class="iconfont">&#xe60c;</em>
            <p class="p-title">24小时服务</p>
            <p class="p-content">热忱服务，全年无休</p>
        </div>
        <div class="clear"></div>
    </div>


</div>

<div class="friend-link">
    <div class="main">
        <span class="friend-link-title">友情链接:</span>
        <a href="#">XXX</a><a href="#">XXX</a><a href="#">XXX</a><a href="#">XXX</a>
    </div>
</div>

<div class="site-foot">
    <div class="main">
        <div class="site-foot-div">
            <p>帮助中心</p>
            <ul>
                <li><a href="#">常见问题</a></li>
                <li><a href="#">预定说明</a></li>
                <li><a href="#">支付说明</a></li>
            </ul>
        </div>
        <div class="site-foot-div">
            <p>帮助中心</p>
            <ul>
                <li><a href="#">常见问题</a></li>
                <li><a href="#">预定说明</a></li>
                <li><a href="#">支付说明</a></li>
            </ul>
        </div>
        <div class="site-foot-div">
            <p>帮助中心</p>
            <ul>
                <li><a href="#">常见问题</a></li>
                <li><a href="#">预定说明</a></li>
                <li><a href="#">支付说明</a></li>
            </ul>
        </div>
        <div class="site-foot-div">
            <p>帮助中心</p>
            <ul>
                <li><a href="#">常见问题</a></li>
                <li><a href="#">预定说明</a></li>
                <li><a href="#">支付说明</a></li>
            </ul>
        </div>
        <div class="site-foot-div">
            <p>帮助中心</p>
            <ul>
                <li><a href="#">常见问题</a></li>
                <li><a href="#">预定说明</a></li>
                <li><a href="#">支付说明</a></li>
            </ul>
        </div>
        <div class="fl">
            <img src="images/test/ewm.png" style="width: 120px;height:120px;"/>
        </div>
        <div class="fl index-contact">
            <p class="tel"><em class="iconfont">&#xe604;</em> 400-188-0005</p>
            <p class="index-contact-p">服务时间:24小时</p>
            <p class="index-contact-p"><em class="iconfont">&#xe60d;</em><em class="iconfont">&#xe607;</em><em class="iconfont">&#xe605;</em></p>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="main site-bottom">
    CopyRight 2010-2016 常州淹城旅行社有限公司版权所有 苏ICP备0123456789号<br/>
    地址：江苏省常州市武进区武宜南路588号 客服电话：400-188-0005
</div>

<div class="fixed-right">
    <div class="middle-div Js_right_div">
        <div>
            <em class="iconfont">&#xe607;</em>
            <p class="dis-none">
                <img src="images/test/ewm.png"/>
            </p>
        </div>
        <div>
            <em class="iconfont">&#xe607;</em>
            <p class="dis-none">
                <img src="images/test/ewm.png"/>
            </p>
        </div>
        <div>
            <em class="iconfont">&#xe605;</em>
        </div>
        <div>
            <em class="iconfont">&#xe606;</em>
        </div>
        <div class="Js_toTop dis-none">
            <em class="iconfont">&#xe608;</em>
        </div>
    </div>
</div>

</body>
</html>
