<link href="/css/order/order.css" type="text/css" rel="stylesheet"/>
<div class="h20">
</div>
<div class="main">
    <div class="stepInfo">
        <ul>
            <li></li>
            <li></li>
            <li style="background-color: #CD3333;"></li>
            <li></li>
            <li></li>
            <li></li>
            <li style="background-color: #CD3333;"></li>
            <li></li>
        </ul>
        <div class="stepIco stepIco1 ddd" id="create">1
            <div class="stepText" id="createText">购物车</div>
        </div>
        <div class="stepIco stepIco2" id="check">2
            <div class="stepText" id="checkText">订单确认</div>
        </div>
        <div class="stepIco stepIco3" id="produce" style="background-color: #CD3333;">3
            <div class="stepText" id="produceText">结算</div>
        </div>
        <div class="stepIco stepIco4" id="delivery">4
            <div class="stepText" id="deliveryText">支付成功</div>
        </div>
    </div>

    <div class="h60"></div>

    <div class="orderShopCat">
        <div class="orderShopCat-content">
               订单编号：<label id="orderNum">$!orderDto.num</label></p>

            <div class="order-total">总价 &nbsp<label id="amount" class="moneyShow">￥&nbsp;$!orderDto.orderPrice</label>&nbsp;元
            </div>
            <table class="order-table-info">
                <tr>
                    <td style="width:30% ">商品</td>
                    <td style="width:30% ">单价(元)</td>
                    <td style="width:20% ">数量</td>
                    <td style="width:20% ">价格</td>

                </tr>
                #foreach($op in $orderDto.productDtos)
                <tr>
                    <td>$!op.productDto.name</td>
                    <td>￥ $op.productDto.discountPrice</td>
                    <td>$!op.count</td>
                    #set($toprice=$op.productDto.discountPrice*$op.count)
                    <td>$toprice</td>
                </tr>
                #end

                #if($orderDto.couponDto)
                <tr>
                    <td colspan="4" style="width: 100%;text-align: right">优惠券： 满$orderDto.couponDto.useCondition
                        减$orderDto.couponDto.useCondition.quota
                    </td>
                </tr>
                #end

            </table>
            <div class="h20"></div>
        </div>
    </div>
    <div class="order-pay">
        <h3>支付创建中……</h3>
    </div>

    <div>
        $htmltext
    </div>
</div>