
<div class="container">

    <input class="txtValue" type="text" name="keleyi" value="" />
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">1222222</button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">

                    <input type="checkbox" data-type="checkall" />复选</td>
                    <input type="checkbox" name="keleyi" data-type="checkbox" data-value="11" value="1" />11
                    <input type="checkbox" name="keleyi" data-type="checkbox" data-value="22" value="2" />22
                    <input type="checkbox" name="keleyi" data-type="checkbox" data-value="33" value="3" />33
                    <input type="checkbox" name="keleyi" data-type="checkbox" data-value="44" value="4" />44

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    require(['app/demon/fuxuan']);
</script>