<!--<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" >
    这是一个模态框demo（button）
</button>

<button class="btn btn-primary" type="button" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>
<input type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" value="模态框(input)">

&lt;!&ndash; Modal &ndash;&gt;
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">模态框主题</h4>
            </div>
            <div class="modal-body">
                模态框的body部分
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" >保存</button>
            </div>
        </div>
    </div>
</div>-->

<div>
    <input type="checkbox" data-type="checkAll" >全选
    <input type="checkbox" data-type="checkBox" data-value="101" value="1">1
    <input type="checkbox" data-type="checkBox" data-value="102" value="2">2
    <input type="checkbox" data-type="checkBox" data-value="103" value="3">3
    <input type="checkbox" data-type="checkBox" data-value="104" value="4">4
</div>

<div>
    选择的值：<input type="text" class="txt" data-value="" value="">
</div>


<script>
    require(["app/demon/cascadeOption"])
</script>