.helper-left{width: 220px;display: inline-block;border: solid #ECECEC 2px;float: left;}
.helper-right{width: 950px;display: inline-block;border: solid #ECECEC 2px;margin-left: 12px;min-height: 703px;}
.hRed{ border-bottom: solid #CD3333 2px;}
.helper-left-top{height: 41px;line-height: 41px;margin-left:0px;width:220px; font-size: 18px;font-family: 'Microsoft YaHei', 微软雅黑, 'Microsoft JhengHei', 宋体;background-color:#ffffff;align-content: center;}
.helper-left-center li{height: 41px;line-height: 41px;font-size: 18px;float: left;padding-left: 10px;width: 210px;background-color: #F8F8F8;font-size: 16px;}
.helper-left-center ul a li{background-color: #ffffff;padding-left: 41px;height: 45px;line-height: 50px;width: 180px;font-size: 14px;}
.helper-left-center ul a{cursor: pointer;}

.checkedRed{color: #CD3333;}
.helper-left-center li img{margin-left: 8px;margin-top: 10px;float:left;}
.helper-left-center li .helper{font-size: 18px;margin-top: 4px;margin-left: 2px; float:left;}
.helper-right-top{height: 41px;line-height: 41px;margin-left: 15px;font-size: 18px;font-family: 'Microsoft YaHei', 微软雅黑, 'Microsoft JhengHei', 宋体}
.h_nderline{border-bottom: solid #ECECEC 3px;}