<div class="page-group">
    <div class="page page-orderevaluate" id="index">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left back">
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class="title">订单评价</h1>
        </header>

        <div class="content">
            <div class="content-padded">
                <div class="card">

                    <div class="card-content">
                        <div class="list-block media-list">
                            <div class="list-block media-list ">
                                <ul>
                                    <li class="item-content">
                                        <div class="item-media">
                                            <img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg"
                                                 width="100">
                                            111111
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <textarea placeholder="请输入您对该商品的评价"></textarea>
            </div>

            <div class="content-padded">
                <div class="card">

                    <div class="card-content">
                        <div class="list-block media-list">
                            <div class="list-block media-list ">
                                <ul>
                                    <li class="item-content">
                                        <div class="item-media">
                                            <img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg"
                                                 width="100">
                                            111111
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <textarea placeholder="请输入您对该商品的评价"></textarea>
            </div>
        </div>

        <div class="bar bar-tab">
            <div><a href="#" class="button button-big button-fill button-danger">提交评价</a></div>
        </div>
    </div>
</div>