<div class="right-essentialInfo-main">
    <p>安全信息</p>

    <div class="h30"></div>
    <div class="right-security-info-show">
        <div class="right-security-info-evaluate">
            <p>您的账户安全等级：<span class="danger-level">很危险</span></p>
            <p>您的账户信息及资产可能存在安全风险！建议您立即验证提升账户安全评级！</p>
        </div>
    </div>
    <div class="h20"></div>
    <p class="user-name">用户名：<span>$!userSessionDto.loginName</span></p>
    <div class="validate-select">
        <p><span><strong>实名认证</strong>(未认证)</span><a class="immediate_authentication">立即认证</a></p>
        <p><span><strong>邮箱验证</strong>(未验证)：绑定后可用于邮箱找回密码、邮箱验证码、接收邮件等,保证您的账户更加安全。</span><a href="#">立即验证</a></p>
        <p><span><strong>手机验证</strong>(未认证)：绑定后可用于手机找回密码、接收手机动态验证码等,保证您的账户更加安全。  </span><a href="#">立即验证</a></p>
    </div>
</div>