<style>
    .error {
        color: #C00;
        padding: 0 6px;
        font-size: 10px;
    }
</style>
<div class="right-update-password-main">
    <p>修改密码</p>

    <div class="right-update-password-content">

        <form class="js_submit_form" data-url="ajax_update_password" method="post">
            <div class="right-update-password-fill-in">
                <div class="consignee-oldPassword">
                    <label for="consignee-oldPassword"><span>*</span> 旧密码： </label>
                    <input id="consignee-oldPassword" type="password" name="oldPassword" required
                           data-msg-required="不能为空" placeholder="旧密码">
                    <input type="hidden" id="consignee-password_id" name="id">
                    <span class="checkError" style="color: red;"></span>
                </div>

                <div class="consignee-newPassword">
                    <label for="consignee-newPassword"><span>*</span> 新密码：</label>
                    <input id="consignee-newPassword" name="newPassword" placeholder="新密码" required
                           data-rule-mobile="true" data-msg-required="请输入新密码"
                           class="js_check_pwd_strong js_check_passWord" type="password">
                    <span class="icon-passWord-error js_success hidden">&#xe62a;</span><span
                        class="icon-loginName-error js_password_error hidden">&#xe629;<span class="js_showError"></span></span>
                    <p class="passwordSecurity" style="display: none">
                        安全程度：<a class="pwd-low">弱</a>
                        <a class="pwd-centre">中</a>
                        <a class="pwd-high">强</a>
                    </p>
                </div>

                <div class="confirm_new_password">
                    <label for="confirm_new_password"><span>*</span> 确认密码： </label>
                    <input id="confirm_new_password" type="password" name="confirmPassword" placeholder="新密码"
                           required data-rule-idCard="true" data-msg-required="请输入新密码">
                </div>

                <input type="button" class="save-password js_save_update_password" value="提交">
            </div>
        </form>
        <div class="h30"></div>
        <div class="updateSuccess">
            修改密码成功
        </div>
        <div class="updateFail">
            修改密码失败
        </div>
    </div>
</div>